# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# VS Code settings (if using)
.vscode/

# macOS files
.DS_Store

# PyCharm
.idea/

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Logs
*.log

# dotenv
.env

# ignore files
kuaishou_ws_client.py
proto.py
ws.py